[submodule "apps/git-subrepo"]
	path = apps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo
[submodule "apps/prerender"]
	path = apps/prerender
	url = https://github.com/prerender/prerender.git
